@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-goblin: var(--font-goblin);
  /* CoolStay Primary Palette */
  --color-coolblue-900: #03045e; /* Brand Anchor */
  --color-coolblue-800: #0077b6; /* Primary Buttons */
  --color-coolblue-600: #00b4d8; /* Highlights */
  --color-coolblue-300: #90e0ef; /* Secondary BG */
  --color-coolblue-100: #caf0f8; /* Subtle BG */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
